@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import "./variables.scss";

:root {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 5rem;
  text-align: center;
}
